html{
    box-sizing: border-box;
}
h2, h3 {
    color: #931616 !important;
}
h1 {
    font-family: 'Bebas Neue' !important;
    color: #931616 !important;
    text-align: center;
    font-size: 750% ;
}
h2 {
    font-size: 200%;
}
h3 {
    font-size: 170%;
}
h4 {
    font-size: 140%;
}
body {
    background-color: #E7DCC5;
    color: #140000;
}

a {
    color: #D53939 !important;
}

a:visited, footer {
    color: #4E5A64 !important;
}

table {
    table-layout: fixed;
    width: 700px;
    border: solid;
    border-color: #931616;
    border-collapse: collapse;
    text-align: center;
}


td, th {
    border: 1px solid;
    border-color: #931616;
}


.fotky {
    border: 4px solid;
    border-color:#D53939;
}
.ikony {
    margin-left: 2%;
    margin-right: 2%;
}


svg {
    height: 100 ipo !important;
    width: 100 !important;
}

hr {
    border: 2px solid #D53939;
}

img .socialniSite{
    height: 100;
    width: 100;
    }

footer {
    text-align: center;
    color:#4E5A64
    
}
.grey {
    color:#4E5A64
}

* {
    font-family: 'Titillium Web', sans-serif;
}

div {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;

}

<<<<<<< HEAD
=======

.center {
    text-align: center;
}

>>>>>>> 589bfbd75e1e3245758640cc20697e86bbbd8636

h1 {
    font-family: 'Bebas Neue' !important;
    color: #931616 !important;
    text-align: center;
    font-size: 70px ;
}

.alba {
    width: 300px;
    height: 300px;
    border: 4px solid;
    border-color:#D53939;
}
.center {
    text-align: center;
}

